@inherits DynamicBlazorForm.Core.ComponentBases.DateInput

<div class="form-group">
    <RadzenFormField Text="@Item.LabelText" Variant="Variant.Flat">
        <ChildContent>
            <RadzenDatePicker @bind-Value=@Value DateFormat="d" />
        </ChildContent>
    </RadzenFormField>
</div>

