@inherits DynamicBlazorForm.Core.ComponentBases.NumberInput
<div class="form-group">
    <RadzenFormField Text="@Item.LabelText" Variant="Variant.Flat">
        <ChildContent>
            <RadzenNumeric TValue="long" @bind-Value="Value" />
        </ChildContent>
        <Helper>
            <RadzenText TextStyle="TextStyle.Caption">must be a number</RadzenText>
        </Helper>
    </RadzenFormField>
</div>