@page "/"

@inject DynamicElementsRepository formElementsRepository
@using DynamicBlazorForm.Core.Layout.FluentApi
@using System.Dynamic

<DynamicForm Layout="@model" @bind-Value=myData></DynamicForm>
<div>
    <input type="text" class="form-control" readonly value="@JsonConvert.SerializeObject(myData, Formatting.Indented)" placeholder="">
     <button @onclick="UpdateHeading">
        Update Object
    </button>
 </div>

  

@code {
    private DynamicLayout model { get; set; }

    private JToken myData { get; set; }

    private void UpdateHeading()
    {
        var result = myData.ToObject<Demo>();

        var text = myData.ToString(); 
    }

    protected override async Task OnInitializedAsync()
    {
        myData = JToken.FromObject(new Demo());
        model = new DynamicLayout("leeftijds vragen")
                    .WithGroup(
                       Group.WithName("demo")
                            .WithSubGroup(
                                SubGroup.AtIndex(1)
                                .WithNumberInput(1, "$.demo1.test3", "leeftijd", 4)
                                .WithTextInput(2, "$.demo1.test2", "leeftijd in text", 4)
                                .WithBooleanInput(3, "$.demo1.test4", "echt waar?",4)
                            )
                            .WithSubGroup(
                                SubGroup.AtIndex(2)
                                .WithDateInput(1, "$.demo1.test1", "datum", 4)
                                .WithTextInput(2, "$.demo1.test2", "leeftijd in text", 8)
                            )
                    );

        //var modeltext = JsonConvert.SerializeObject(model, Formatting.None, new JsonSerializerSettings { NullValueHandling = NullValueHandling.Ignore});


    }
}